/fig/
/slides/presentation_main.aux
/slides/presentation_main.log
/slides/presentation_main.synctex.gz
/slides/presentation_main.snm
/slides/presentation_main.out
/slides/presentation_main.dvi
/slides/presentation_main.tps
